-@answers.each do |answer|
  #74.row.question-main-content.question-item.answer-item
    .col-md-2.col-xs-2
      .accept-answer
        -if !@question.answered?
          - if @question.user_id == current_user.id
            %h3
            = link_to '', index_path(answer.id),rel: 'tooltip',title: 'Make Right',class: 'tooltip-inner img-circle fa fa-check pull-left'
      .vote-block
        %ul
          %li{"data-original-title" => "This is useful.", :title => ""}
            = vote_link(answer, 'up')                    
          %li{"data-original-title" => "", :title => ""}
            %span.vote-count{id: "up_vote_answer#{answer.id}"}
              = answer.get_likes.size
          %li{"data-original-title" => "", :title => ""}
            %span.vote-count{id: "down_vote_answer#{answer.id}"}
              = answer.get_dislikes.size
          %li{"data-original-title" => "This is useful.", :title => ""}
            = vote_link(answer, 'down')
          %li
      -if @question.accepted_answer_id == answer.id
        .top-content
          %span.answered.fa.fa-check      
    .col-md-9.col-xs-9.q-right-content
      %ul.post-controls
        %li
          = link_to '',edit_question_answer_path(@question.id,answer.id),class: 'post-edit action fa fa-pencil','data-no-turbolink' => true
        %li
          = link_to '', question_answer_path(@question.id,answer.id),method: :delete,data: {confirm:'Are you sure?'},class: 'post-delete action fa fa-trash-o'
      .clearfix
      .question-content
        = raw(answer.content)
      .row.cat-infomation
        .col-md-8.col-xs-8.question-cat
          %a{:href => member_path(answer.answerable.id)}
            %span.author-avatar
              %img.avatar{:alt => "", :src => "http://demo.enginethemes.com/qaengine/wp-content/uploads/2014/08/1282.jpg"}
            %span.author-name
              - if answer.answerable_type == 'Student'                      
                - if answer.answerable.student_manager?
                  .student_manager{href: "#",rel: "tooltip",title: t('students.tooltip.manager')} 
                    = answer.answerable.username
                - else
                  = answer.answerable.username
              - else                        
                = answer.answerable.username
          %span.user-badge{:style => "background-color:#780978;", :title => "1543"} 
            = answer.answerable_type
          %span.question-time
            #{time_ago_in_words(answer.created_at)} ago.
        .col-md-4.col-xs-4.question-control
          = render :partial => 'link_to_comment', :locals => { object: answer, id: "#{answer.id}"}
          %span{id: "comment_count#{answer.id}"}
            (
            = answer.comments.count
            )
      .comments-container.collapse.hidden_comment-box{id: 'comment' + "#{answer.id}"}
        = render partial: 'comments/create_comment',locals: {commentable: answer}
      %br/
      .answer_comments{id: "commentsa#{answer.id}"}
        = render partial: 'comments/show_comments_of_answers',locals: {answer: answer}
