.modal-submit-questions
  .modal-dialog
    .modal-body
      = form_for(@question) do |f|
        = render 'shared/error_messages', object: f.object
        %div
        = f.label t('students.captions.class')
        - if form_type == 'edit'
          = f.select(:standard_id, options_from_collection_for_select(@standards, 'id', 'class_no',@question.standard_id),{},{class: 'form-control'})
        - else
          = f.select(:standard_id, options_from_collection_for_select(@standards, 'id', 'class_no'),{prompt: t('teachers.basic.prompt')},{class: 'form-control'})
        .spacer20
        %div
        = f.label :title
        = f.text_field :title, autofocus: true, class: 'submit-input'
        %div
        = f.label t('questions.basic.content_label')
        = f.text_area :content,:toolbar => 'mini', :class => 'ckeditor', style: 'width: none !important;'
        .spacer20
        = f.label :tag_list, t('questions.basic.tag_on_new')
        .chzn-drop
          = f.select :tag_list, options_for_select(@tags, @question.tags),{},multiple: true, prompt: false, id: 'form-field-select-4', class: 'chzn-drop instructor-chosen-select chosen-select form-control', data: { placeholder: '' }
        .spacer20
        -if current_student
          = f.hidden_field :user_id, :value => current_student.id
        -elsif current_teacher
          = f.hidden_field :user_id, :value => current_teacher.id
        = f.submit t('questions.btn.submit'),class: 'btn btn-success', id: 'btn_submit_question'

:javascript
  var config = {
    '.chosen-select'           : {},
    '.chosen-select-deselect'  : {allow_single_deselect:true},
    '.chosen-select-no-single' : {disable_search_threshold:10},
    '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
    '.chosen-select-width'     : {width:"95%"}
  }
  for (var selector in config) {
    $(selector).chosen(config[selector]);
  }

