.col-md-4.col-xs-4.q-right-content
  %ul.question-statistic
    %li
      %span.question-views
        = "#{question.impressionist_count}"
      views
    %li.active
      %span.question-answers
        = "#{question.answers.count}" 
      answers
    %li
      %span.question-upvotes
        = question.get_upvotes.size
      upvotes
    %li
      %span.question-downvotes
        = question.get_downvotes.size
      downvotes