.main-questions-list
  %ul#main_questions_list
    - questions.each do |question|
      %li.post-1728.question.type-question.status-publish.hentry.question-item{"data-id" => "1728"}
        .col-md-8.col-xs-8.q-left-content
          .q-ltop-content
            = link_to  question.title, question_path(question),class: 'question-title'
          .q-lbtm-content
            .question-excerpt
              %p
                = raw(question.content)
            .question-cat
              %ul.question-tags
                / question.tag_list .map { |t| link_to t, tag_path(t) }.join(', ')}
                - question.tag_list.each do |tag|
                  %li
                    = link_to tag, tag_path(tag),class: 'q-tag'
              .clearfix
              %a{:href => "#"}
                %span.author-avatar
                  %img.avatar
                %span.author-name
                  by :
                  = question.askable.username
              %span.user-badge{:style => "background-color:#04aad4;"}
                = question.askable.class
              %span.question-time
                #{time_ago_in_words(question.created_at)} ago.
        / end left content
        = render :partial => 'questions/question_statics',:locals => { :question => question }