.main-questions-list
  %ul#main_questions_list
    - questions.each do |question|
      %li.post-1728.question.type-question.status-publish.hentry.question-item{id: "question#{question.id}"}
        .col-md-8.col-xs-11.q-left-content
          .q-ltop-content
            = link_to  question.title, question_path(question),class: 'question-title', 'data-no-turbolink' => true
          .q-lbtm-content
            .question-cat
              %ul.question-tags
                - question.tags.each do |tag|
                  %li
                    = link_to tag, questions_path(tag: tag.name),class: 'q-tag'
              .clearfix
              - if question.askable_type != 'Teacher'
                = link_to student_views_profile_path(question.askable.id,user: 'Student') do
                  %span.avatar
                    - if File.exists? question.askable.avatar.path
                      = image_tag question.askable.avatar.url, alt: t('common.image.alt'), class: 'img-circle user-thumb-img' 
                    - else
                      = image_tag "missing.jpeg", alt: 'this', class: 'img-circle user-thumb-img'

                  %span.author-name                     
                    - if question.askable.student_manager?
                      .student_manager{rel: "tooltip",title: t('students.tooltip.manager')} 
                        = question.askable.username
                    - else
                      = question.askable.username
                %span.user-badge.student-class
                  = question.askable.class
              - else 
                %span.avatar
                  - if File.exists? question.askable.avatar.path
                    = image_tag "#{question.askable.avatar.url}", alt: t('common.image.alt'), class: 'img-circle user-thumb-img' 
                  - else
                    = image_tag "missing.jpeg", alt: 'this', class: 'img-circle user-thumb-img'
                  
                %span.author-name
                  = question.askable.username
                %span.user-badge.teacher-class
                  = question.askable.class
              %span.question-time
                #{time_ago_in_words(question.created_at)} ago. 
              %span.question_link
                - if current_student.present? && current_student.student_manager?
                  = link_to ' ',disable_path(question.id), remote: true, rel: 'tooltip', title: t('common.links.disable'), class: 'fa fa-ban fa-2x disable'
                - else
                  = link_to ' ',disable_path(question.id), remote: true, rel: 'tooltip', title: t('common.links.disable'), class: 'fa fa-ban fa-2x disable'
                - if !(current_administrator)
                  = link_to ' ',report_path(question.id), remote: true, rel: 'tooltip', title: t('questions.links.report_abuse'), class: 'fa fa-envelope-o fa-2x report_abuse'
        = render :partial => 'questions/question_statics',:locals => { :question => question }
.row
  .col-md-12
    = paginate questions
