- @questions.each do |question|
  %li.post-1728.question.type-question.status-publish.hentry.question-item{"data-id" => "1728"}
    .col-md-8.col-xs-8.q-left-content
      .q-ltop-content
        = link_to  question.title, question_path(question),class: 'question-title'
      .q-lbtm-content
        .question-excerpt
          %p
            = raw(question.content)
        .question-cat
          %ul.question-tags
            = render partial: 'tags_list', locals: {current_question: question}
          .clearfix
          %a{:href => "#"}
            %span.author-avatar
              %img.avatar
            %span.author-name
              = question.askable.username
          %span.user-badge{:style => "background-color:#04aad4;", :title => "67"}
            = question.askable.class
          %span.question-time
            #{time_ago_in_words(question.created_at)} ago.
    / end left content
    .col-md-4.col-xs-4.q-right-content
      %ul.question-statistic
        %li
          %span.question-views.question_view_overwrite
            #{question.impressionist_count}
          views
        %li.active
          %span.question-answers.question_view_overwrite
            #{question.answers.count}
          answers
        %li
          %span.question-views.question_view_overwrite
            = question.get_upvotes.size
          Upvotes
        %li
          %span.question-answers.question_view_overwrite
            = question.get_downvotes.size
          Downvotes