.main-questions-list
  %ul#main_questions_list
    - questions.each do |question|
      %li.post-1728.question.type-question.status-publish.hentry.question-item{"data-id" => "1728"}
        .col-md-8.col-xs-8.q-left-content
          .q-ltop-content
            = link_to  question.title, question_path(question),class: 'question-title', 'data-no-turbolink' => true
          .q-lbtm-content
            .question-excerpt
              %p
                = raw(question.content)
            .question-cat
              %ul.question-tags
                - question.tags.each do |tag|
                  %li
                    = link_to tag, questions_path(tag: tag.name),class: 'q-tag'
              .clearfix
              %a{:href => member_path(question.askable.id)}
                %span.avatar
                  = image_tag question.askable.avatar.url(:thumb),class: 'img-circle user-thumb-img'
                %span.author-name              
                  - if question.askable_type != 'Teacher'                      
                    - if question.askable.student_manager?
                      .student_manager{rel: "tooltip",title: t('students.tooltip.manager')} 
                        = question.askable.username
                    - else
                      = question.askable.username
                  - else                        
                    = question.askable.username
              %span.user-badge{:style => "background-color:#04aad4;"}
                = question.askable.class
              %span.question-time
                #{time_ago_in_words(question.created_at)} ago.
        / end left content
        = render :partial => 'questions/question_statics',:locals => { :question => question }