.col-md-4.col-xs-4.q-right-content
  %ul.question-statistic
    %li
      %span.question_points{rel: 'tooltip', title: t('questions.captions.views')}
        = "#{question.impressionist_count}"
      %h4
        %i.view.fa.fa-eye
    %li
      %span.question_points{rel: 'tooltip', title: t('questions.captions.answers')}
        = "#{question.answers.count}" 
      %h4
        %i.answer.fa.fa-pencil-square-o
    %li
      %span.question_points{rel: 'tooltip', title: t('questions.captions.upvotes')}
        = question.get_upvotes.size
      %h4
        %i.like.fa.fa-thumbs-up
    %li
      %span.question_points{rel: 'tooltip', title: t('questions.captions.downvotes')}
        = question.get_downvotes.size
      %h4
        %i.dislike.fa.fa-thumbs-down
  .spacer30
  - if current_student.present?
    - if current_student.student_manager?
      = link_to '',disable_path(question.id),rel: 'tooltip', title: t('common.links.disable'), class: 'fa fa-ban'
      
  - else
    = link_to '',disable_path(question.id), rel: 'tooltip', title: t('common.links.disable'), class: 'fa fa-ban'
    
  -if !(current_administrator)
    |
    = link_to '',report_path(question.id), rel: 'tooltip', title: t('questions.links.report_abuse'), class: 'fa fa-envelope-o'
