= render :partial => "layouts/sub_heading", :locals => {:object => 'Disabled Questions'}
.row.select-category.single-head
  .col-md-10.col-xs-12
    - if @questions.blank?
      .col-md-4
      .col-md-6.col-xs-12
        .spacer50
          %h3
            = t('questions.messages.block_list_empty')
    - else
      .table-responsive
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %td.text-center
                = t('questions.table.header.title')
              %td.text-center 
                = t('questions.table.header.action')
          %tbody
            - @questions.each do |question|
              %tr
                %td 
                  = link_to  question.title, question_path(question),class: 'question-title', 'data-no-turbolink' => true
                %td.text-center
                  = link_to '', enable_path(question),rel: 'tooltip',title: t('common.links.enable'), class: 'fa fa-check'
                  |
                  = link_to '', question_path(question), method: :delete, data: {confirm: t('common.links.delete.confirm')},rel: 'tooltip',title: t('common.links.delete_link'), class: 'fa fa-trash-o'
