%div
  = link_to "Last Week", questions_path(:time => 'week')
  = link_to "Last Month", questions_path(:time => 'month')

%div
  = button_to  'New Question  ', new_question_path,method: :get, class:" btn btn-primary pull-right" 
%h2
  Questions
=paginate @questions  
%div
  -i=1
  - @questions.each do |que|
    
    %h3
      = i
      = link_to  que.title, question_path(que)
    
    By
    = Student.find(que.user_id).first_name
    
    #{time_ago_in_words(que.created_at)} ago.
    - i += 1
    %br
    %strong
      Tags: 
    #{raw que.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')}
    %strong
      Views:
    #{que.impressionist_count} 
    %hr
.pull-right    
  = paginate @questions