%div
  = set_link(t('questions.link.last_week'),'week')
  = set_link(t('questions.link.last_month'),'month')
  = set_link(t('questions.link.un_answered'),'un_answered')
  = set_link(t('questions.link.most_voted'),'most_voted')
%div
  = link_to  t('questions.btn.new_question'), new_question_path,method: :get, class:" btn btn-primary pull-right" 
%h2
  = t('questions.page_header.title')
=paginate @questions  
%div
  #tag_cloud
  - tag_cloud get_tag_counts, %w{s m l} do |tag|
    = link_to tag.name, tag_path(tag.name)
  %br/
  - @questions.each do |question|  
    %h3
      = link_to  question.title, question_path(question)
    = t('questions.basic.asked_by')
    = question.askable.first_name
    #{time_ago_in_words(question.created_at)} ago.
    
    %br
    %strong
      = t('questions.basic.tag')
    #{raw question.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')}
    %strong
      = t('questions.basic.view')
    #{question.impressionist_count}
    %strong
      = t('questions.basic.answers')
    #{question.answers.count} 
    -if question.askable == current_user
      =link_to "Edit", edit_question_path(question)
      =link_to "Delete", question_path(question), method: :delete,data: { confirm: "Are you sure?" }
    %hr
.pull-right
  = render :partial => "shared/pagination", :locals => {:object => @questions}
