%div
  = set_link(t('questions.link.last_week'),'week')
  = set_link(t('questions.link.last_month'),'month')
%div
  = button_to  t('questions.btn.new_question'), new_question_path,method: :get, class:" btn btn-primary pull-right" 
%h2
  = t('questions.page_header.title')
=paginate @questions  
%div
  - @questions.each do |que|
    
    %h3
      = link_to  que.title, question_path(que)
    = t('questions.basic.asked_by')
    = get_user_name(que.user_id)
    #{time_ago_in_words(que.created_at)} ago.
    
    %br
    %strong
      = t('questions.basic.tag')
    #{raw que.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')}
    %strong
      = t('questions.basic.view')
    #{que.impressionist_count} 
    %hr
.pull-right    
  = paginate @questions