.container-fluid
  .row
    / END HEADER
    #header_sidebar.col-md-12.col-xs-12
    = render 'layouts/left_sidebar'
    .col-md-8.main-content.single-content
      .row.select-category.single-head
        .col-md-2.col-xs-2
          %span.back
            %i.fa.fa-angle-double-left
            %a
              = link_to 'Home',questions_path
        .col-md-8.col-xs-8
          %h3
            = @question.title
      / END SELECT-CATEGORY
      #question_content.row.question-main-content.question-item{"data-id" => "1728"}
        / Vote section
        .col-md-2.col-xs-2.vote-block
          / vote group
          %ul
            %li{"data-original-title" => "This is useful.", :title => ""}
              = vote_up_question_link(@question)
            / // vote up
            / vote point
            %li
              %span.vote-count
                = @question.get_likes.size
            %li
              %span.vote-count
                = @question.get_dislikes.size
            / // vote point
            / vote down
            %li{"data-original-title" => "This is useful.", :title => ""}
              = vote_down_question_link(@question)
              / // vote down
          / // vote group
        / // Vote section
        .col-md-9.col-xs-9.q-right-content
          / admin control
          %ul.post-controls
            %li
              %a.post-edit.action{"data-name" => "edit", "data-original-title" => "Edit", "data-toggle" => "tooltip", :href => "javascript:void(0)"}
                %i.fa.fa-pencil
            %li
              %a.post-delete.action{"data-name" => "delete", "data-original-title" => "Delete", "data-toggle" => "tooltip", :href => "javascript:void(0)"}
                %i.fa.fa-trash-o
            / Follow Action
            %li
              %a.action.follow{"data-name" => "follow", "data-original-title" => "Follow", "data-toggle" => "tooltip", :href => "javascript:void(0)"}
                %i.fa.fa-plus-square
            / // Follow Action
            / report Action
            / // Report Action
          / // admin control
          / question tag
          .top-content
            %span.answered
              %i.fa.fa-check
              Answered
            %ul.question-tags
              - @question.tag_list.each do |tag|
                %li
                  = link_to tag, tag_path(tag),class: 'q-tag'
          .clearfix
          .question-content
            = raw(@question.content)
          .row
            .col-md-8.col-xs-9.question-cat
              %a{:href => "#"}
                %span.author-avatar
                  %img.avatar
                %span.author-name Admin Demo
              %span.user-badge{:style => "background-color:#04aad4;"}
                = @question.askable.class
              %span.question-time
                #{time_ago_in_words(@question.created_at)} ago.
            .col-md-4.col-xs-4.question-control
              %ul
                %li
                  %a.show-comments{:href => "#container_1728"}
                    Comment(0)
                    %i.fa.fa-comment
          .clearfix

            / END SUBMIT FORM COMMENT
          / END COMMENTS CONTAINER
      / END QUESTION-MAIN-CONTENT
      .sticky-wrapper{:style => ""}
        #answers_filter.row.answers-filter
          .max-col-md-8
            .col-md-6.col-xs-6
              %span.answers-count
                %span.number
                  = @question.answers.count
                Answers
            .col-md-6.col-xs-6.sort-questions
              %ul
                %li
                  %a.active{:href => "http://demo.enginethemes.com/qaengine/question/what-are-some-of-your-favorite-deep-awe-inspiring-andor-thought-provoking-movies/"} Votes
                /
                  <li>
                  <a class="" href="/qaengine/question/what-are-some-of-your-favorite-deep-awe-inspiring-andor-thought-provoking-movies/?sort=active">Active</a>
                  </li>
                %li
                  %a{:href => "/qaengine/question/what-are-some-of-your-favorite-deep-awe-inspiring-andor-thought-provoking-movies/?sort=oldest"} Oldest
      / ANSWERS LOOP
      #answers_main_list
        -@answers.each do |answer|
          #74.row.question-main-content.question-item.answer-item
            .col-md-2.col-xs-2.vote-block
              / vote group
              %ul
                / vote up
                %li{"data-original-title" => "This is useful.", :title => ""}
                  = vote_up_answer_link(answer)


                / // vote up
                / vote point
                %li{"data-original-title" => "", :title => ""}
                  %span.vote-count
                    = answer.get_likes.size
                %li{"data-original-title" => "", :title => ""}
                  %span.vote-count

                    = answer.get_dislikes.size
                / // vote point
                / vote down
                %li{"data-original-title" => "This is useful.", :title => ""}
                  = vote_down_answer_link(answer)
                / // vote down
              / // vote group
            .col-md-9.col-xs-9.q-right-content
              / control tool for admin, moderate
              %ul.post-controls
                %li
                  %a.post-edit.action{"data-name" => "edit", "data-original-title" => "Edit", "data-toggle" => "tooltip", :href => "javascript:void(0)"}
                    %i.fa.fa-pencil
                %li
                  %a.post-delete.action{"data-name" => "delete", "data-original-title" => "Delete", "data-toggle" => "tooltip", :href => "javascript:void(0)"}
                    %i.fa.fa-trash-o
              / // control tool for admin, moderate
              .clearfix
              .question-content
                = raw(answer.content)
              .row.cat-infomation
                / Answer owner infomation
                .col-md-8.col-xs-8.question-cat
                  %a{:href => "http://demo.enginethemes.com/qaengine/member/admin/"}
                    %span.author-avatar
                      %img.avatar{:alt => "", :src => "http://demo.enginethemes.com/qaengine/wp-content/uploads/2014/08/1282.jpg"}
                    %span.author-name
                      = answer.answerable.username
                  %span.user-badge{:style => "background-color:#780978;", :title => "1543"}
                    = answer.answerable_type
                  %span.question-time
                    #{time_ago_in_words(answer.created_at)} ago.
                / // Answer owner infomation
                .col-md-4.col-xs-4.question-control
                  / share comment , report
                  %ul
                    %li
                      %a.show-comments{:href => "#container_74"}
                        Comment(0)
                        %i.fa.fa-comment
                / // share comment , report
              .clearfix


          / END REPLY-ITEM

        / END REPLY-ITEM
      / ANSWERS LOOP
      .row.paginations.collapse
        .col-md-12
      / END PAGINATIONS

      .row.form-reply
        .col-md-12
          %h3 Your Answer
          .modal-submit-questions
            .modal-dialog
              .modal-body
                = form_for (@answer) do |f|
                  = f.text_area :content, :toolbar => 'mini', :class => 'ckeditor', placeholder: 'Your Answer', style: 'width: none !important;'
                  = f.hidden_field :user_id, :value => current_user.id
                  = f.hidden_field :question_id, :value => @question.id
                  %div
                    = f.submit t('questions.btn.submit'),class: 'btn-submit-question', id: 'btn_submit_question'

      / END FORM REPLY
    = render 'layouts/right_sidebar'
