%h3  
  Que.
  =@question.title
  %br
  = link_to t('answers.basic.new_answer'), new_answer_path(:question_id => @question.id) 
  %hr
  Answers
  %hr
-@answers.each do |answer|
  -if !@question.answered?
    - if @question.user_id == current_student.id 
      = link_to "Accept", index_path(answer.id)
  %h4.strong
    -if @question.ans_id == answer.id   
      %span.glyphicon.glyphicon-ok
    =answer.content
  By
  =Student.find(answer.user_id).first_name
  #{time_ago_in_words(answer.created_at)} ago.
  %br/
  = vote_up_answer_link(answer)
  = vote_down_answer_link(answer)
  %hr
