.row.select-category.single-head
  .col-md-2.col-xs-2
    %span.back
      %i.fa.fa-angle-double-left
      %a 
        = link_to 'Home',questions_path
  .col-md-8.col-xs-8
    %h3 
      = @question.title
/ END SELECT-CATEGORY
#question_content.row.question-main-content.question-item{"data-id" => "1728"}
  / Vote section
  .col-md-2.col-xs-2.vote-block
    %ul
      %li{"data-original-title" => "This is useful.", :title => ""}
        = vote_question_link(@question, 'up')
      %li
        %span.vote-count{id: "upvoteq#{@question.id}" }
          = @question.get_likes.size
      %li
        %span.vote-count{id: "downvoteq#{@question.id}"}  
          = @question.get_dislikes.size
      %li{"data-original-title" => "This is useful.", :title => ""}
        = vote_question_link(@question, 'down')
  .col-md-9.col-xs-9.q-right-content
    / admin control
    %ul.post-controls
      %li
        = link_to '',edit_question_path(@question.id),class: 'post-edit action fa fa-pencil',rel: 'tooltip',title: 'Edit', 'data-no-turbolink' => true
      %li
        = link_to '', question_path,method: :delete,data: {confirm:'Are you sure?'},rel: 'tooltip',title: 'Delete',class: 'post-delete action fa fa-trash-o'

      - if (check_bookmark @question).blank?
        %li
          = link_to '', bookmarks_path(:question_id => @question.id), method: :post, class: 'post-delete action fa fa-plus'
      -else
        %li
          = link_to '',bookmark_path(:question_id => @question.id), method: :delete,data: {confirm:'Are you sure?'},class: 'post-delete action fa fa-minus-square'    
    .top-content
      - if @question.answers.count > 0
      %span.answered
        %i.fa.fa-check
        Answered
      = render :partial => 'question_tags', :locals => { :object => @question}
    .clearfix
    .question-content
      = raw(@question.content)
    .row
      .col-md-8.col-xs-9.question-cat
        %a{:href => "http://demo.enginethemes.com/qaengine/member/admindemo/"}
          %span.author-avatar
            %img.avatar{:alt => "", :src => "http://1.gravatar.com/avatar/3743112a070d24fe4dbd5cb39d6a5e9e?s=30&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D30&amp;r=G"} 
          %span.author-name Admin Demo
        %span.user-badge{:style => "background-color:#04aad4;"} 
          = @question.askable.class
        %span.question-time
          #{time_ago_in_words(@question.created_at)} ago.
      .col-md-4.col-xs-4.question-control
        = render :partial => 'link_to_comment', :locals => { object: @question, id: "q#{@question.id}"}
    .comments-container.collapse.hidden_comment-box{id: 'commentq' + "#{@question.id}"}              
      = form_for (@comment),remote: true do |f|
        = f.text_area :comment,:toolbar => 'mini', :class => 'ckeditor', style: 'width: none !important;',id: 'comment_area'
        = f.hidden_field :relative, :value => @question
        = f.hidden_field :relative_type, :value => @question.class.to_s
        = f.hidden_field :relative_id, :value => @question.id
        %br/
        = submit_tag "Post",class: 'btn btn-primary'
    %br/
    = render 'comments/show_comments_of_questions'               
      .row.paginations.home
        .col-md-12{id:'paginator'}
          = paginate @comments_q
    .clearfix
.sticky-wrapper
  #answers_filter.row.answers-filter
    .max-col-md-8
      .col-md-6.col-xs-6
        %span.answers-count
          %span.number 
            = @question.answers.count
          Answers
      .col-md-6.col-xs-6.sort-questions
        %ul
          %li
            %a.active{:href => "http://demo.enginethemes.com/qaengine/question/what-are-some-of-your-favorite-deep-awe-inspiring-andor-thought-provoking-movies/"} Votes
          %li
            %a{:href => "/qaengine/question/what-are-some-of-your-favorite-deep-awe-inspiring-andor-thought-provoking-movies/?sort=oldest"} Oldest
/ ANSWERS LOOP
#answers_main_list
  = render 'answers_list', locals: { :answers =>  @answer}
  = render 'answers/form'