%h3  
  Que.
  =@question.title
  %br
  = link_to 'New Answer', new_answer_path(:question_id => @question.id) 
  %hr

  = form_for (@comment) do |f|
    = f.text_area :comment, placeholder: "Write a comment..."
    = f.hidden_field :relative, :value => @question
    = f.hidden_field :relative_type, :value => @question.class.to_s
    = f.hidden_field :relative_id, :value => @question.id
    = submit_tag "post coment"
  %hr
-comments_of_this_question.each do |c|
  %div.row
    .col-lg-1
    .col-lg-8
      = c.comment
      - if c.commentable == current_user
        = link_to "Edit", edit_question_comment_path(@question.id,c.id)
        |
        = link_to 'delete',question_comment_path(@question.id,c),method: :delete,data: {confirm: "are you sure?"}
      %hr/
  
  Answers
  %hr
-@answers.each do |answer|
  -if !@question.answered?
    - if @question.askable == current_user
      = link_to "Accept", index_path(answer.id)
  %h4.strong
    -if @question.ans_id == answer.id   
      %span.glyphicon.glyphicon-ok
    = answer.content
  - if answer.answerable == current_user
    = link_to " Delete", question_answer_path(@question.id,answer), method: :delete, :onclick => "return confirm('Are you sure?')", class: 'pull-right'
    = link_to "Edit | ", edit_question_answer_path(@question.id,answer.id), class: 'pull-right'
    = link_to "delete",answer_path(answer.id),method: :delete,data: {confirm: "are you sure?"}
    = link_to "Add comment", comment_path(answer)
  By
  =Student.find(answer.user_id).first_name
  #{time_ago_in_words(answer.created_at)} ago.
  %br/
  = vote_up_answer_link(answer)
  = answer.get_upvotes.size
  = vote_down_answer_link(answer)
  = answer.get_downvotes.size
  %hr
= form_for (@answer) do |f|
  = f.label :content, t('answers.basic.answer_label')
  = f.text_area :content
  = f.hidden_field :user_id, :value => current_user.id  
  = f.hidden_field :question_id, :value => @question.id
  = f.submit t('answers.btn.submit_answer')
