%h3  
  Que.
  =@question.title
  %br
  = link_to 'New Answer', new_answer_path(:question_id => @question.id) 
  %hr

  = form_for (@comment) do |f|
    = f.text_area :comment, placeholder: "Write a comment..."
    = f.hidden_field :relative, :value => @question
    = f.hidden_field :relative_type, :value => @question.class.to_s
    = f.hidden_field :relative_id, :value => @question.id
    = submit_tag "post coment"
  %hr
-comments_of_this_question.each do |c|
  %div.row
    .col-lg-1
    .col-lg-8
      = c.comment
      - if c.commentable == current_user
        = link_to "Edit", edit_question_comment_path(@question.id,c.id)
        |
        = link_to 'delete',question_comment_path(@question.id,c),method: :delete,data: {confirm: "are you sure?"}
      %hr/
  
%h2 Answers
%hr
-@answers.each do |answer|
  %h4.strong
    = answer.content
    = link_to "delete",answer_path(answer.id),method: :delete,data: {confirm: "are you sure?"}
    = link_to "Add comment", comment_path(answer)
  By
  =Student.find(answer.user_id).first_name
  #{time_ago_in_words(answer.created_at)} ago.
  %hr