- elementId_upvote = "#upvoteq#{@question.id}"
$("#{elementId_upvote}").text("#{@question.get_likes.size}")

- elementId_downvote = "#downvoteq#{@question.id}"
$("#{elementId_downvote}").text("#{@question.get_dislikes.size}")
