- if @question.present?
  - elementId_upvote = "#upvote_question#{@question.id}"
  $("#{elementId_upvote}").text("#{@question.get_likes.size}")
  - elementId_downvote = "#downvote_question#{@question.id}"
  $("#{elementId_downvote}").text("#{@question.get_dislikes.size}")
$('#flash_message').html("#{escape_javascript render(:partial=>'shared/flash_messages')}")
$.unblockUI();