.modal-submit-questions
  .modal-dialog
    .modal-body
      = form_for(resource, :as => resource_name, :url => teacher_registration_path) do |f|
        = devise_error_messages!
        %div
          %br/
          = f.label t('common.captions.salutations')
          = f.select(:salutation, options_for_salution,{},{class: 'form-control'})
          %br
          = f.label t('common.captions.first_name')
          = f.text_field :first_name, class: 'form-control'
          %br
          = f.label t('common.captions.last_name')
          = f.text_field :last_name, class: 'form-control'
          %br
          = f.label t('common.captions.user_name')
          = f.text_field :username, class: 'form-control'
          %br
          = f.label t('common.captions.qualification')
          = f.text_field :qualification, class: 'form-control'
          %br
          = f.label t('common.captions.email')
          = f.email_field :email, :autofocus => true, class: 'form-control'
          %br/
        %div
          %br/
          = f.label t('common.captions.new_password')
          = f.password_field :password, class: 'form-control'
        %div
          %br/
          = f.label t('common.captions.password_confirmation')

          = f.password_field :password_confirmation, class: 'form-control'
          %br
          = f.label t('common.captions.set_avatar')
        %br
          = f.file_field :avatar
        %br/
        %div= f.submit t('common.btn.submit'), class: 'btn btn-primary btn-sm'
      - if !current_teacher.present?
        = render "teachers/shared/links"
