%h2 
  = t('common.page_header.title_sign_up')
= form_for(resource, :as => resource_name, :url => teacher_registration_path) do |f|
  = devise_error_messages!
  %div
  
  %br/
  = f.label  t('teachers.basic.salutation')
  = f.select :salutation, options_for_select(%w[Mr. Ms. Mrs.])
  = f.label t('common.basic.username')
  = f.text_field :username
  %br
  = f.label t('common.basic.last_name')
  = f.text_field :last_name
  %br
  = f.label t('common.basic.user_name')
  = f.text_field :username
  %br
  = f.label :qualification
  = f.text_field :qualification
  %br
  = f.label t('common.basic.email')
  = f.email_field :email, :autofocus => true
  %div
  = f.label t('common.basic.password')
  %br/
  = f.password_field :password
  %div
  = f.label t('common.basic.password_confirmation')
  %br/
  = f.password_field :password_confirmation
  %div= f.submit t('common.btn.submit')
= render "teachers/shared/links"