.col-md-8.main-content
  = render :partial => "layouts/sub_heading", :locals => {:object => 'Signup'}
  .modal-submit-questions
    .modal-dialog
      .modal-body
        = form_for(resource, :as => resource_name, :url => teacher_registration_path) do |f|
          = devise_error_messages!
          %div
          
          %br/
          = f.label  t('common.basic.salutations')
          = f.select(:salutation, options_for_salution,{},{class: 'form-control'})
          = f.label t('common.basic.first_name')
          = f.text_field :first_name,class: 'submit-input'
          %br
          = f.label t('common.basic.last_name')
          = f.text_field :last_name,class: 'submit-input'
          %br
          = f.label t('common.basic.user_name')
          = f.text_field :username,class: 'submit-input'
          %br
          = f.label :qualification
          = f.text_field :qualification,class: 'submit-input'
          %br
          = f.label t('common.basic.email')
          = f.email_field :email, :autofocus => true,class: 'submit-input'
          %div
          = f.label t('common.basic.password')
          %br/
          = f.password_field :password,class: 'submit-input'
          %div
          = f.label t('common.basic.password_confirmation')
          %br/
          = f.password_field :password_confirmation,class: 'submit-input'
          %div= f.submit t('common.btn.submit'),class: 'btn-submit-question', id: 'btn_submit_question' 
        = render "teachers/shared/links"