
/ END HEADER
#header_sidebar.col-md-12.col-xs-12
= render 'layouts/left_sidebar'
.col-md-8.main-content
  = render :partial => "layouts/sub_heading", :locals => {:object => 'Profile'}
  .row.user-statistic.highlight
    .col-md-5.col-xs-5.user-info
      %span.avatar
        = image_tag @teacher.avatar.url(:medium) ,class: 'img-circle profile-img'    
      %ul
        %li.name 
          = @teacher.username
        %li.email
          %i.fa.fa-envelope
          = @teacher.email
    .col-md-7.col-xs-7.user-post-count
      .row
        .col-md-4.col-xs-4
          %p.questions-count
            Questions
            %br
              %span 
                = @teacher.questions.count
        .col-md-4.col-xs-4
          %p.answers-count
            Answers
            %br
              %span 
                = @teacher.answers.count
  / END USER-STATISTIC
  .row.question-filter
  - if ( @teacher == current_user )
    .col-md-12.sort-questions
      %ul
        %li
          = link_to 'Edit your Info', edit_teacher_registration_path
        %li
          = link_to 'Basic Info', teacher_views_profile_path(@teacher.id, active_tab:'basicinfo'), class: "#{profile_active_tab('basicinfo')}"
        %li
          = link_to 'Questions', teacher_views_profile_path(@teacher.id, active_tab:'questions'), class: "#{profile_active_tab('questions')}"
        %li
          = link_to 'Answers', teacher_views_profile_path(@teacher.id, active_tab:'answers'), class: "#{profile_active_tab('answers')}"
        %li
          = link_to 'Votes', teacher_views_profile_path(@teacher.id, active_tab:'votes'), class: "#{profile_active_tab('votes')}"
  - else
    .col-md-12.sort-questions
      %ul
        %li
          = link_to 'Basic Info', teacher_views_profile_path(@teacher.id, active_tab:'basicinfo'), class: "#{profile_active_tab('basicinfo')}"
        %li
          = link_to 'Questions', teacher_views_profile_path(@teacher.id, active_tab:'questions'), class: "#{profile_active_tab('questions')}"
        %li
          = link_to 'Answers', teacher_views_profile_path(@teacher.id, active_tab:'answers'), class: "#{profile_active_tab('answers')}"
        %li
          = link_to 'Votes', teacher_views_profile_path(@teacher.id, active_tab:'votes'), class: "#{profile_active_tab('votes')}"
  / END QUESTIONS-FILTER
  - if params[:active_tab] == "answers"
    .main-questions-list
      %ul#main_questions_list
        -if !(@answers.nil?)
          - @answers.each do |answer|
            %li.post-103.answer.type-answer.status-publish.hentry.answer-item.question-item{"data-id" => "103"}
              .col-md-8.q-left-content
                .q-ltop-content.title-answer-style
                  %a.question-title
                    = answer.question.title
                .q-lbtm-content
                  .question-cat
                    %span.avatar
                      = image_tag @teacher.avatar.url(:medium) ,class: 'img-circle user-thumb-img'    

                    %span.question-time
                      = "Asked #{time_ago_in_words(answer.question.created_at)} ago."
                    %ul.question-tags
                      - answer.question.tags.each do |tag|
                        %li
                          = link_to tag, tag_path(tag.name),class: 'q-tag'
                .quote-answer-style
                  %div
                    %span.icon-quote
                    = raw(answer.content)
                  %p.alert-stt-answer-style
                    %i.fa.fa-check-circle
                    = "Replied #{time_ago_in_words(answer.created_at)} ago."
              
              / end left content
              .col-md-4.q-right-content
                %ul.question-statistic
                  %li
                    %span.question-views
                      = "#{answer.question.impressionist_count}"
                    views
                  %li.active
                    %span.question-answers
                      = "#{answer.question.answers.count}"
                    answers
                  %li
                    %span.question-upvotes
                      = answer.question.get_upvotes.size
                    votes
                  %li
                    %span.question-downvotes
                      = answer.question.get_downvotes.size
                    votes  
        - else
          You don't  have answered any question yet
  - elsif params[:active_tab] == "votes"
    .main-questions-list
      %ul#main_questions_list
        - if !(@questions.nil?)
          .table-responsive
            %table.table{:style => "border: 1px solid black"}
              %thead
                %tr.success
                  %th.text-center{:style => "border: 1px solid black"}
                  %th.text-center{:style => "border: 1px solid black"} Total Count 
                  %th.text-center{:style => "border: 1px solid black"} UpVotes Count
                  %th.text-center{:style => "border: 1px solid black"} DownVotes Count
              %tbody
                %tr
                  %td.text-center{:style => "border: 1px solid black"} 
                    Questions
                  %td.text-center{:style => "border: 1px solid black"} 
                    = @questions.count
                  %td.text-center{:style => "border: 1px solid black"} 
                    = @total_upvotes_question
                  %td.text-center{:style => "border: 1px solid black"} 
                    = @total_downvotes_question
                %tr.success
                  %td.text-center{:style => "border: 1px solid black"} 
                    Answers
                  %td.text-center{:style => "border: 1px solid black"} 
                    = @answers.count
                  %td.text-center{:style => "border: 1px solid black"} 
                    = @total_upvotes_answer
                  %td.text-center{:style => "border: 1px solid black"} 
                    = @total_downvotes_answer
        -else
          You haven't got any votes!!!
  - elsif params[:active_tab] == "questions"
    .main-questions-list    
      %ul#main_questions_list
        - if !(@questions.nil?)
          - @questions.each do |question|
            %li.post-188.question.type-question.status-publish.hentry.question-item{"data-id" => "188"}
              .col-md-8.col-xs-8.q-left-content
                .q-ltop-content
                  %a.question-title
                    = question.title
                .q-lbtm-content
                  .question-excerpt
                    %p 
                      = raw(question.content)
                  .question-cat
                    %ul.question-tags
                      - question.tags.each do |tag|
                        %li
                          = link_to tag, tag_path(tag.name),class: 'q-tag'   
                    .clearfix
                    %a{:href => "http://demo.enginethemes.com/qaengine/member/admin/"}
                      %span.author-avatar
                        %img.avatar{:alt => "", :src => "http://demo.enginethemes.com/qaengine/wp-content/uploads/2014/08/1282.jpg"}      
                      %span.author-name 
                        = question.askable.username 
                    %span.question-time
                      = "#{time_ago_in_words(question.created_at)} ago."
              / end left content
              .col-md-4.col-xs-4.q-right-content
                %ul.question-statistic
                  %li
                    %span.question-views
                      = "#{question.impressionist_count}"
                    views
                  %li.active
                    %span.question-answers
                      = "#{question.answers.count}" 
                    answers
                  %li
                    %span.question-upvotes
                      = question.get_upvotes.size
                    upvotes
                  %li
                    %span.question-downvotes
                      = question.get_downvotes.size                      
                    downvotes
              / end right content
        - else
          You don't have asked any questions yet
    
      / end right content        
    / END MAIN-QUESTIONS-LIST
  - else
    .row
      .col-md-9.col-md-push-3 
        =@teacher.first_name
        =@teacher.last_name 
       
      .col-md-3.col-md-pull-9 
        %b Name 
      
      .col-md-9.col-md-push-3 
        %br
          =@teacher.qualification
      .col-md-3.col-md-pull-9
        %br/
        %b Qualification
      
      .col-md-9.col-md-push-3
        %br/
        =@teacher.username
      .col-md-3.col-md-pull-9  
        %br/
        %b Username

      .col-md-9.col-md-push-3
        %br/
        =@teacher   .email 
      .col-md-3.col-md-pull-9
        %br/
        %b Email

  .row.paginations.home
  
/ END MAIN-PAGINATIONS
= render 'layouts/right_sidebar'