= render :partial => "layouts/sub_heading", :locals => {:object => 'Profile'}
.row.user-statistic.highlight
  .col-md-5.col-xs-5.user-info
    %span.avatar
      = image_tag @teacher.avatar.url(:medium), alt: t('common.image.alt') ,class: 'img-circle profile-img'    
    %ul
      %li.name 
        = @teacher.username
  .col-md-7.col-xs-7.user-post-count
    .row
      .col-md-4.col-xs-4
        %p.questions-count.dark-font-color
          Questions
          %br
            %span 
              = @teacher.questions.count
      .col-md-4.col-xs-4
        %p.answers-count.dark-font-color
          Answers
          %br
            %span 
              = @teacher.answers.count
/ END USER-STATISTIC
.row.question-filter
  .col-md-12.sort-questions
    %ul
      - if ( @teacher == current_user )
        %li
          = link_to t('common.links.edit_your_info'), teacher_views_profile_path(@teacher.id,active_tab:'edit_profile'),remote: true, class: "user_tab profile_link"
      %li
        = link_to t('common.links.basic_info'), teacher_views_profile_path(@teacher.id, active_tab: t('students.active_tab.basic_info')), remote: true, class: "#{profile_active_tab(t('students.active_tab.basic_info'))} user_tab profile_link", id: 'basic_info'
      %li
        = link_to t('common.links.question'), teacher_views_profile_path(@teacher.id, active_tab: t('students.active_tab.questions')), remote: true, class: "user_tab profile_link"
      %li
        = link_to t('common.links.answers'), teacher_views_profile_path(@teacher.id, active_tab: t('students.active_tab.answers')), remote: true, class: "user_tab profile_link"
      %li
        = link_to t('common.links.bookmarks'), teacher_views_profile_path(@teacher.id, active_tab: t('students.active_tab.bookmarks')), remote: true, class: "user_tab profile_link"
%div.teacher_profile
  = render partial: 'teacher_basic_profile', locals: { resource: resource}
