
/ END HEADER
#header_sidebar.col-md-12.col-xs-12
= render 'layouts/left_sidebar'
.col-md-8.main-content
  = render partial: "layouts/sub_heading", locals: {object: 'Profile'}
  .row.user-statistic.highlight
    .col-md-5.col-xs-5.user-info
      %span.avatar-80
        = image_tag @student.avatar.url(:medium), alt: t('common.image.alt') ,class: 'img-circle'
      %ul
        %li.name
          = @student.username
        %li.email
          %i.fa.fa-envelope
          = @student.email
    .col-md-7.col-xs-7.user-post-count
      .row
        .col-md-4.col-xs-4.question-cat
        - if @student.badge.last.blank?
          %span.user-badge

        - else
          %span{class: student_badge_color("#{@student.badges.last.name}")}
            = @student.badge.last.name
          %br
            %span.points-count
              -if @student.points.nil?
                0
              -else
                = @student.points
            %span.star
              %i.fa.fa-star
              %br
                points
        .col-md-4.col-xs-4
          %p.questions-count
            Questions
            %br
              %span
                = @student.questions.count
        .col-md-4.col-xs-4
          %p.answers-count
            Answers
            %br
              %span
                = @student.answers.count
  / END USER-STATISTIC
  .row.question-filter
  - if ( @student == current_user )
    .col-md-12.sort-questions
      %ul
        %li
          = link_to t('common.links.edit_your_info'), edit_student_registration_path
        %li
          = link_to t('common.links.basic_info'), student_views_profile_path(@student,filter: t('students.filter.basic_info'))
        %li
          = link_to t('common.links.question'), student_views_profile_path(@student,filter: t('students.filter.questions'))
        %li
          = link_to t('common.links.answers'), student_views_profile_path(@student,filter: t('students.filter.answers'))
        %li
          = link_to t('header_navigation.tags'), student_views_profile_path(@student,filter: t('students.filter.tags'))
        %li
          = link_to t('common.links.badges'), student_views_profile_path(@student,filter: t('students.filter.badges'))
        %li
          = link_to t('common.links.votes'), student_views_profile_path(@student,filter: t('students.filter.votes'))
  - else
    .col-md-12.sort-questions
      %ul
        %li
          = link_to t('common.links.basic_info'), student_views_profile_path(@student,filter: t('students.filter.basic_info'))
        %li
          = link_to t('common.links.question'), student_views_profile_path(@student,filter: t('students.filter.questions'))
        %li
          = link_to t('common.links.answers'), student_views_profile_path(@student,filter: t('students.filter.answers'))
        %li
          = link_to t('header_navigation.tags'), student_views_profile_path(@student,filter: t('students.filter.tags'))
        %li
          = link_to t('common.links.badges'), student_views_profile_path(@student,filter: t('students.filter.badges'))
        %li
          = link_to t('common.links.votes'), student_views_profile_path(@student,filter: t('students.filter.votes'))
  / END QUESTIONS-FILTER
  - if params[:filter] == t('students.filter.answers')
    .main-questions-list
      %ul#main_questions_list
        -if !(@answers.nil?)
          - @answers.each do |answer|
            %li.answer.type-answer.status-publish.hentry.answer-item.question-item
              .col-md-8.q-left-content
                .q-ltop-content.title-answer-style
                  %a.question-title
                    = answer.question.title
                .q-lbtm-content
                  .question-cat
                    %span.author-avatar
                      %img.avatar{alt: "", src: "http://demo.enginethemes.com/qaengine/wp-content/uploads/2014/08/1282.jpg"}
                    %span.user-badge
                      - if answer.answerable.badges.last.blank?

                      -else
                        = answer.answerable.badges.last.name
                    %span.question-time
                      = "Asked #{time_ago_in_words(answer.question.created_at)} ago."
                    %ul.question-tags
                      - answer.question.tags.each do |tag|
                        %li
                          = link_to tag, tag_path(tag.name),class: 'q-tag'
                .quote-answer-style
                  %div
                    %span.icon-quote
                    = raw(answer.content)
                  %p.alert-stt-answer-style
                    %i.fa.fa-check-circle
                    = "Replied #{time_ago_in_words(answer.created_at)} ago."

              / end left content
              .col-md-4.q-right-content
                %ul.question-statistic
                  %li
                    %span.question-views
                      = "#{answer.question.impressionist_count}"
                    views
                  %li.active
                    %span.question-answers
                      = "#{answer.question.answers.count}"
                    answers
                  %li
                    %span.question-upvotes
                      = answer.question.get_upvotes.size
                    votes
                  %li
                    %span.question-downvotes
                      = answer.question.get_downvotes.size
                    votes
        - else
          You don't  have answered any question yet
  - elsif params[:filter] == t('students.filter.tags')
    .main-questions-list
      %ul#main_questions_list
        -if !(@tags.nil?)
          .col-md-12
            .row
            .col-md-6
              - @tags.each do |row|
                .row
                  - row.each do |column|
                    .col-md-6
                      %h4
                        = column

        - else
          You haven't tagged any thing yet!!!
  - elsif params[:filter] == t('students.filter.badges')
    .main-questions-list
      %ul#main_questions_list
        - if !(@student.badges.last.blank?)
          - @student.badges.pluck(:name).each do |badge|
            .col-md-6
              %h3
                = badge
        -else
          You haven't earned any Badges!!!
  - elsif params[:filter] == t('students.filter.votes')
    .main-questions-list
      %ul#main_questions_list
        - if !(@questions.nil?)
          .row
            .col-md-2
            .col-md-3
              Total count
            .col-md-3
              Upvotes count
            .col-md-3
              Uownvotes count
          .row
            .col-md-2
              Questions
            .col-md-3
              = @questions.count
            .col-md-3
              = @total_upvotes_question
            .col-md-3
              = @total_downvotes_question
            .row
            .col-md-2
              Answers
            .col-md-3
              = @answers.count
            .col-md-3
              = @total_upvotes_answer
            .col-md-3
              = @total_downvotes_answer

        -else
          You haven't got any votes!!!
  - elsif params[:filter] == t('students.filter.questions')
    .main-questions-list
      %ul#main_questions_list
        - if !(@questions.nil?)
          - @questions.each do |question|
            %li.post-188.question.type-question.status-publish.hentry.question-item{"data-id" => "188"}
              .col-md-8.col-xs-8.q-left-content
                .q-ltop-content
                  %a.question-title
                    = question.title
                .q-lbtm-content
                  .question-excerpt
                    %p
                      = raw(question.content)
                  .question-cat
                    %ul.question-tags
                      - question.tags.each do |tag|
                        %li
                          = link_to tag, tag_path(tag.name),class: 'q-tag'
                    .clearfix
                    %a{href: "http://demo.enginethemes.com/qaengine/member/admin/"}
                      %span.author-avatar
                        %img.avatar{alt: "", src: "http://demo.enginethemes.com/qaengine/wp-content/uploads/2014/08/1282.jpg"}
                      %span.author-name
                        = question.askable.username
                    %span.user-badge
                      - if question.askable.badges.last.blank?

                      - else
                        = question.askable.badges.last.name
                    %span.question-time
                      = "#{time_ago_in_words(question.created_at)} ago."
              / end left content
              .col-md-4.col-xs-4.q-right-content
                %ul.question-statistic
                  %li
                    %span.question-views
                      = "#{question.impressionist_count}"
                    views
                  %li.active
                    %span.question-answers
                      = "#{question.answers.count}"
                    answers
                  %li
                    %span.question-upvotes
                      = question.get_upvotes.size
                    upvotes
                  %li
                    %span.question-downvotes
                      = question.get_downvotes.size
                    downvotes
              / end right content
        - else
          You don't have asked any questions yet

      / end right content
    / END MAIN-QUESTIONS-LIST
  - else
    .row
      .col-md-3.col-md-pull-9
        %b Name

      .col-md-9.col-md-push-3
        %br
          =@student.birthdate
      .col-md-3.col-md-pull-9
        %br/
        %b Birthdate

      .col-md-9.col-md-push-3
        %br/
        =@student.username
      .col-md-3.col-md-pull-9
        %br/
        %b Username

      .col-md-9.col-md-push-3
        %br/
        =@student.email
      .col-md-3.col-md-pull-9
        %br/
        %b Email

  .row.paginations.home

/ END MAIN-PAGINATIONS
= render 'layouts/right_sidebar'