- if answer_comment.relative == answer
  .col-md-1
  .col-md-11.col-xs-12.comment-list{id: "#{answer.id}"}   
    .comment-body
      = raw(answer_comment.comment)
    .comment-owner
    - if answer_comment.commentable_type == 'Teacher'
      = link_to " -  #{answer_comment.commentable.username}", 'javascript:void(0)'  
    - else
      = link_to " -  #{answer_comment.commentable.username}", student_views_profile_path(answer_comment.commentable,user: 'Student')   
    - if answer_comment.is_author?(current_user)
      = ' - '
      =link_to '',edit_answer_comment_path(answer.id,answer_comment.id), rel: 'tooltip', title: t('common.links.edit'), class: 'fa fa-pencil','data-no-turbolink' => true
      |
      = link_to '',answer_comment_path(answer.id,answer_comment.id), rel: 'tooltip', title: t('common.links.delete_link'), method: :delete, data: {confirm: t('common.links.delete.confirm')}, remote: true, class: 'delete-comment fa fa-trash-o'