= render :partial => "layouts/sub_heading", :locals => {:object => 'Signin'}
.modal-submit-questions
  .modal-dialog
    .modal-body
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        %div
          = f.label t('common.captions.email')
          %br/
          = f.email_field :email, :autofocus => true, class: 'submit-input'
        %div
          = f.label t('common.captions.password')
          %br/
          = f.password_field :password, class: 'submit-input'
        - if devise_mapping.rememberable?
          %div
              = f.check_box :remember_me
              = f.label :remember_me
          %div= f.submit t('common.btn.sign_in'),class: 'btn-submit-question', id: 'btn_submit_question'
          