- @badges.each do |badge|
  .border
    .col-md-3.question-cat
      %span.user-badge{style: "background-color: #{badge.color}"}
        = badge.name    
      %span 
        = render partial: '/badges/badges_links', locals: { badge: badge}
      %br
        %span.points-count
          = badge.points
        %span.star
          %i.fa.fa-star
          %br
            = t('badges.captions.points_require')
    %ul.raw.single-head
      - badge_rules = badge.rules 
      -@rules.each do |rule|
        %span
          %li.col-md-3.col-xs-5.rules-list
            - if badge_rules.include? rule
              %i.fa.fa-check
              = rule.description
            - else
              %i.fa.fa-ban
                = rule.description

