.modal-submit-questions
  .modal-dialog
    .modal-body
      = form_for(@badge) do |f|
        = render 'shared/error_messages', object: f.object
        %div
        = f.label :name
        = f.text_field :name, autofocus: true, class: 'submit-input'        
        .spacer20
        = f.label :Points
        = f.text_field :points, autofocus: true, class: 'submit-input'        
        .spacer20
        = f.label :default
        = f.select(:default, options_for_select(%w[TRUE FALSE], @badge.default),{},{class: 'form-control'})
        .spacer20
        = f.label :color
        .input-group.colorpicker.color-picker-width
          = f.text_field :color, class: 'form-control '
          %span.input-group-addon
            %div.fa.fa-square
        .spacer20
        = f.label :Permissions
        = render partial: 'badges/select_rules', locals: {rules: @rules, badge_rules: @badge_rules}
        .spacer20
        = f.submit 'Submit',class: 'btn btn-primary btn-sm', id: 'btn_submit_question'
