.row.select-category
  .col-md-6.col-xs-6.current-category
    %span
      Badges
  .col-md-6.col-xs-6.current-category    
    %span
      - if (administrator_signed_in?)
        = link_to t('badges.captions.add_badge'), new_badge_path,'data-no-turbolink' => true, class: 'fa fa-plus btn btn-success newtag-btn-size  pull-right'
.row.points-system
  .col-md-12
    %h3 
      = t('badges.captions.point_system')  
    %p 
      = t('badges.captions.earn_reputaion')  
  .clearfix
  = render partial: 'badges/points_list', locals: { points: @points}
.row.badges-system
  .col-md-12
    %h3 
      = t('badges.captions.badge_system')      
    %p 
      = t('badges.captions.earn_reputaion')  
  .col-md-12.badge-content
    = render 'badge_list'