= render :partial => "layouts/sub_heading", :locals => {:object => 'Add New Badge'}
.modal-submit-questions
  .modal-dialog
    .modal-body
      = form_for(@badge) do |f|
        = render 'shared/error_messages', object: f.object
        %div
        = f.label :name
        %br/
        = f.text_field :name, autofocus: true, class: 'submit-input'        
        = f.label :Points
        %br/
        = f.text_field :points, autofocus: true, class: 'submit-input'        
        = f.label :Default
        %br/
        = f.select(:default, options_for_select([false,true]),{},{class: 'form-control'})
        %br/
        .input-group.colorpicker
          = f.text_field :color, class: 'form-control'
          %span.input-group-addon
            %div.fa.fa-square
        Permissions:
        %ul
          - @rules.each do |rule|
            %li
              = check_box_tag "rule_id[]", rule.id
              = label_tag "#{rule.id}", rule.description
        = f.submit 'Submit',class: 'btn-submit-question', id: 'btn_submit_question'