- field_tag_class = 'form-control'
%h2= t('registration.caption.page_header.registration')
= form_tag  create_member_users_path, class: 'form-horizontal', role: 'form' do
  .col-xs-3
    .form-group
      %label.control-label= t('registration.caption.role')
      = select_tag 'user[role_id]', options_for_select(Role.all), :prompt => '-- Select --', class: field_tag_class
    .form-group
      %label.control-label= t('registration.caption.salutation')
      = select_tag 'user[salutation]', options_for_select(get_options_salutation_dropdown), :prompt => '-- Select --', class: field_tag_class
    .form-group
      %label.control-label= t('registration.caption.first_name')
      = text_field_tag 'user[first_name]', nil, class: field_tag_class
    .form-group
      %label.control-label= t('registration.caption.middle_name')
      = text_field_tag 'user[middle_name]', nil, class: field_tag_class
    .form-group
      %label.control-label= t('registration.caption.last_name')
      = text_field_tag 'user[last_name]', nil, class: field_tag_class
    .form-group
      %label.control-label= t('registration.caption.email')
      = email_field_tag 'user[email]', nil, class: field_tag_class
    .form-group
      %label.control-label= t('registration.caption.date_of_birth')
      = text_field_tag 'user[date_of_birth]', nil, class: "date-picker #{field_tag_class}", id: 'id-date-picker-1'
    .form-group
      = submit_tag t('common.btn.submit'), class: 'btn btn-primary btn-sm', title: t('common.btn.submit')

:javascript
  $(function () {
      $('#id-date-picker-1').datepicker();
  });
