%li.col-md-4.col-xs-6.tag-list
  = link_to tag, questions_path(tag: tag.name),class: 'q-tag'
  = "x #{tag.taggings_count}"
  - if (administrator_signed_in?)
    = link_to '',delete_tag_path(tag.id), method: :delete, data: {confirm: 'Are you sure?'}, class: 'fa fa-trash-o pull-right'
    = link_to ' |',edit_tag_path(tag.id),'data-no-turbolink' => true, class: 'fa fa-pencil pull-right'
  %div
    = truncate(tag.description,length: 120,escape: false) {link_to "Read more",questions_path(tag: tag.name,id: 'show_tag') }
    