= render :partial => "layouts/sub_heading", :locals => {:object => 'Add New Tag'}
.modal-submit-questions
  .modal-dialog
    .modal-body
      = form_for(@tag, :url => {:controller => "tags", :action => "create"}) do |f|
        = render 'shared/error_messages', object: f.object
        .spacer20
        = f.label :name
        = f.text_field :name, autofocus: true, class: 'submit-input'        
        .spacer20
        = f.label :description
        = f.text_area :description, autofocus: true, :toolbar => 'mini', :class => 'ckeditor', style: 'width: none !important;'
        .spacer20
        = f.submit 'Submit',class: 'btn btn-primary btn-sm', id: 'btn_submit_question'