.spacer30
.row
  = form_tag find_report_path, remote: true do
    = hidden_field_tag 'report_name', params[:active_tab]
    - if @active_tab == 'Class Wise Activeness' || @active_tab == 'Class Wise Questions Comparison' || @active_tab == 'Class Wise Answers Comparison'
      .col-xs-12
        .col-md-1.col-md-offset-1
        .col-xs-3.col-md-3
          = select_tag :standard_id, content_tag(:option,'Select standard',:value=>"")+options_from_collection_for_select( @standards, :id, :class_no), class: 'form-control', data: {remote: true, url: divisions_by_standard_path(form: 'activeness')}
        .col-xs-3.col-md-3
          = select_tag 'division_id', content_tag(:option,'Select division',:value=>"")+options_from_collection_for_select( @divisions, :id, :division), class: 'form-control division_list1', id: 'activeness'
        .col-xs-2.col-md-2
          = submit_tag "Check", class: 'btn btn-primary'
    - else
      .col-xs-12
        .col-md-1.col-md-offset-1
        .col-xs-6.col-md-6
          = text_field_tag :email, nil,:class => 'form-control'
        .col-xs-2.col-md-2
          = submit_tag "Check", class: 'btn btn-primary'