.row.select-category
  .col-md-6.col-xs-6.current-category
    %span
      = t('report.page_headers.reports')
.row.question-filter
  .col-md-12.sort-questions
    %ul
      %li
        = link_to t('common.active_tab.class_activeness'), reports_path(active_tab: t('common.active_tab.class_activeness')), {class: 'user_filter_link user_link', id: 'default_link', remote: true}
      %li
        = link_to t('common.active_tab.used_tags'), reports_path(active_tab: t('common.active_tab.used_tags')), {class: 'user_filter_link user_link', id: 'default_link', remote: true}
      %li
        = link_to t('common.active_tab.strength'), search_reports_path(active_tab: t('common.active_tab.strength')), {class: 'user_filter_link user_link', id: 'default_link', remote: true}
      %li
        = link_to t('common.active_tab.weakness'), search_reports_path(active_tab: t('common.active_tab.weakness')), {class: 'user_filter_link user_link', id: 'default_link', remote: true}
      %li
        = link_to t('common.active_tab.top_3_weak_area'), search_reports_path(active_tab: t('common.active_tab.top_3_weak_area')), {class: 'user_filter_link user_link', id: 'default_link', remote: true}
      %li
        = link_to t('common.active_tab.top_3_strong_area'), search_reports_path(active_tab: t('common.active_tab.top_3_strong_area')), {class: 'user_filter_link user_link', id: 'default_link', remote: true}
      %li
        = link_to t('common.active_tab.class_wise_activeness'), search_reports_path(active_tab: t('common.active_tab.class_wise_activeness')), {class: 'user_filter_link user_link', id: 'default_link', remote: true}
      %li
        = link_to t('common.active_tab.class_wise_questions_comparision'), search_reports_path(active_tab: t('common.active_tab.class_wise_questions_comparision')), {class: 'user_filter_link user_link', id: 'default_link', remote: true}
      %li
        = link_to t('common.active_tab.class_wise_answers_comparision'), search_reports_path(active_tab: t('common.active_tab.class_wise_answers_comparision')), {class: 'user_filter_link user_link', id: 'default_link', remote: true}
.reports
  = render partial: 'class_activeness_and_used_tags'

.display_other_reports
  - if @report_name.present?
    = render partial: 'display_other_reports'

:javascript
  $(document).ready(function() {
    $('#standard_select').change(function() {
      $.ajax({
        url: "#{update_students_path}",
        data: {
          standard_id : $('#standard_select').val()
        },
        dataType: "script"
      });
    });
  });

