%header#header
  #logo.col-md-2.col-xs-2
    KYU
  -if (user_signed_in)
    .col-md-8.col-xs-8
      .header-menu
        %ul
          %li
            = link_to t('header_navigation.home'), questions_path   
          %li
            %a{:href => members_path(active_tab: 'Students')} Users
          %li
            = link_to t('header_navigation.questions'), questions_path
          %li
            = link_to t('header_navigation.tags'), tags_path
          - if student_signed_in?
            %li
              = link_to t('header_navigation.edit_profile'), edit_student_registration_path
            %li
              = link_to t('header_navigation.logout'), destroy_student_session_path, method: :delete
          - if teacher_signed_in?
            %li
              = link_to 'Report', reports_path
            %li
              = link_to t('header_navigation.edit_profile'), edit_teacher_registration_path
            %li
              = link_to "Logout", destroy_teacher_session_path, method: :delete
          - if administrator_signed_in?
            %li
              = link_to 'Desabled Question', disabled_questions_path
            %li       
              = link_to 'Report', reports_path
            %li
              = link_to "Logout", destroy_administrator_session_path, method: :delete      
      / menu
    .col-md-2.col-xs-2.btn-group.header-avatar
      %span.expand
        %a{:href => member_path(current_user)}
          %span.avatar
            %img.avatar
          %span.display_name
          - if student_signed_in?
            = "Welcome #{current_student.username.titleize}"
          - if teacher_signed_in?
            = "Welcome #{current_teacher.username}"
          - if administrator_signed_in?
            = "Welcome #{current_administrator.email}"  


    / avatar
