.row.select-category
%ul#main_users_list.row
  - students.each do |student|
    %li.user-item.col-md-4.col-xs-6
      %span.user-avatar
        = image_tag student.avatar.url(:medium), alt: 'Image',class: 'img-circle user-thumb-img'
      .left-info
        %span.display_name 
          = link_to student.username,  student_views_profile_path(student,user: 'Student')
          - if current_teacher.present?
            - if students.student_manager_selected? < 2
              - if !(student.student_manager)
                = link_to t('teachers.basic.student_manager'),select_students_manager_path(student.id), class: 'pull-right'
          -if (student.student_manager)
            .action.pull-right{href: "#", rel: "tooltip", title: t('students.tooltip.manager')}
              %i.fa.fa-user.fa-fw
        %br
          %span.email
            = student.email
          .question-cat
            %span.user-badge
              = render :partial => 'student_badge', :locals => { :object => student}  
            %span.points 
              -if student.points.nil?
                0 Points
              - else
                = "#{student.points} Points"
          - if administrator_signed_in? 
            -if student.enable == true
              = link_to '', deactivate_path(student), rel: "tooltip", title: 'Block', class: 'fa fa-lock'
              |
            -else
              - if params[:active_tab] == 'Blocked Students'
                = link_to '',activate_student_path(student), rel: "tooltip", title: 'Unblock', class: 'fa fa-unlock-alt'
                |
          - if ((administrator_signed_in? || teacher_signed_in?) && student.mark_as_review == false)
            = link_to '', markreview_path(student), rel: "tooltip", title: 'Mark as Review', class: 'fa fa-flag-checkered'
          - if ((administrator_signed_in? || teacher_signed_in?) && student.mark_as_review == true)
            = link_to '', student_views_profile_path(student,user: "Student"), rel: "tooltip", title: 'Review', class: 'fa fa-check-square-o'
            - if params[:active_tab] == 'Students for Review'
              |
              = link_to '', unmark_student_review_path(student), rel: "tooltip", title: 'Unmark review', class: 'fa fa-check'
= render partial: "shared/pagination", locals: {object: students}