= render partial: "layouts/sub_heading", locals: {object: t('common.page_header.users')}
.row.question-filter
  .col-md-12.sort-questions
    %ul
      %li
        = link_to t('common.active_tab.students'), members_path(active_tab: t('common.active_tab.students')), {class: 'user_filter_link user_link', id: 'default_link', remote: true}
      - if ( current_teacher.present? )
        %li       
          = set_header_link_for_admin(t('common.active_tab.teachers'))
      - elsif current_administrator.present?
        %li       
          = set_header_link_for_admin(t('common.active_tab.teachers'))
        %li 
          = set_header_link_for_admin(t('common.active_tab.managers'))
        %li
          = set_header_link_for_admin(t('common.active_tab.student_for_review'))   
        %li 
          = set_header_link_for_admin(t('common.active_tab.blocked_student'))
%div.members_index
  = render partial: 'member_list', locals: { user: current_user}
