= render partial: "layouts/sub_heading", locals: {object: t('common.page_header.users')}
.row.question-filter
  - if ( current_teacher.present? )
    .col-md-12.sort-questions
      %ul
        %li
          = set_header_link_for_admin(t('common.active_tab.students'))
        %li       
          = set_header_link_for_admin(t('common.active_tab.teachers'))

  - elsif (current_student.present?)
    .col-md-12.sort-questions
      %ul
        %li
          = set_header_link_for_admin(t('common.active_tab.students'))
  - else 
    .col-md-12.sort-questions
      %ul
        %li
          = set_header_link_for_admin(t('common.active_tab.students'))
        %li       
          = set_header_link_for_admin(t('common.active_tab.teachers'))
        %li 
          = set_header_link_for_admin(t('common.active_tab.managers'))
        %li
          = set_header_link_for_admin(t('common.active_tab.student_for_review'))   
        %li 
          = set_header_link_for_admin(t('common.active_tab.blocked_student'))
= list_of_users(params[:active_tab], @students.present? ? @students : @teachers)
