= render :partial => "layouts/sub_heading", :locals => {:object => 'Users'}
%ul#main_users_list.row
  - @students.each do |student|
    %li.user-item.col-md-4.col-xs-6
      %span.user-avatar
        %img.avatar{:alt => "", :src => "http://demo.enginethemes.com/qaengine/wp-content/uploads/2014/08/1282.jpg"}
      .left-info
        %span.display_name 
          = link_to student.username, member_path(student)
              - if current_teacher.present?
                - if @student_manager.count < 2
                  -if !(student == @student_manager[0])
                    = link_to t('teachers.basic.student_manager'),students_manager_path(student.id),class: 'pull-right'
              - if @student_manager.count > 0
                -if ((student == @student_manager[0]) || (student == @student_manager[1]))
                  %a.action.pull-right{href: "#", rel: "tooltip", title: t('students.tooltip.manager')}
                    %i.fa.fa-user.fa-fw
        %br
          %span.email
            = student.email
          .question-cat
            %span.user-badge
              = render :partial => 'student_badge', :locals => { :object => student}  
            %span.points 
              -if student.points.nil?
                0 Points
              - else
                = "#{student.points} Points"
.row.paginations.home
  .col-md-12
    = render :partial => "shared/pagination", :locals => {:object => @students}
