= render :partial => "layouts/sub_heading", :locals => {:object => 'Profile'}
.row.user-statistic.highlight
  .col-md-5.col-xs-5.user-info
    %span.avatar-80
      %img.avatar{:alt => "", :src => "http://demo.enginethemes.com/qaengine/wp-content/uploads/2014/08/1282.jpg"}     
    %ul
      %li.name 
        = @student.username.titleize
      %li.email
        %i.fa.fa-envelope
        = @student.email
  .col-md-7.col-xs-7.user-post-count
    .row
      .col-md-4.col-xs-4.question-cat
        = render :partial => 'student_badge', :locals => { :object => @student}
        %br
          = render :partial => 'student_points', :locals => { :object => @student}
          %span.star
            %i.fa.fa-star
            %br
              points
      .col-md-4.col-xs-4
        %p.questions-count
          Questions
          %br
            %span 
              = @student.questions.count
      .col-md-4.col-xs-4
        %p.answers-count
          Answers
          %br
            %span 
              = @student.answers.count
.row.question-filter
  .col-md-12.sort-questions
    %ul
      %li
        = link_to t('common.links.questions'), member_path(@student,:filter => "questions")
      %li
        = link_to t('common.links.answers'), member_path(@student,:filter => "answers")
      - if @student == current_user
        %li
          = link_to t('common.links.bookmarks'), member_path(@student,:filter => "bookmarks")  
- if params[:filter] == "answers"
  - if !(@answers.blank?)
    .main-questions-list
      %ul#main_questions_list
        = render :partial => 'member_answers_list', locals: { answers: @answers}
  - else
    %h2
      = t('member.captions.not_answered')
- elsif params[:filter] == "bookmarks"
  - question_list = bookmark_question_ids @student
  - if !(question_list.blank?)
    = render :partial => 'questions/questions_list', :locals => { questions: question_list}
  - else
    = t('member.captions.never_asked')
-else
  - if !(@questions.blank?)
    = render :partial => 'questions/questions_list', :locals => { questions: @questions}
  - else
    = t('member.captions.never_asked')