.col-md-12.sort-questions
  %ul
    %li
      = link_to t('common.links.edit_your_info'), student_views_profile_path(student.id, active_tab: 'edit-profile'), remote: true, class: "user_tab profile_link"
    %li
      = link_to t('common.links.basic_info'), student_views_profile_path(student.id, active_tab: t('students.active_tab.basic_info')), remote: true, class: "user_tab profile_link"
    %li
      = link_to t('common.links.question'), student_views_profile_path(student.id, active_tab: t('students.active_tab.questions')), remote: true, class: "user_tab profile_link"
    %li
      = link_to t('common.links.answers'), student_views_profile_path(student.id, active_tab: t('students.active_tab.answers')), remote: true, class: "user_tab profile_link"
    %li
      = link_to t('common.links.bookmarks'), student_views_profile_path(student.id, active_tab: t('students.active_tab.bookmarks')), remote: true, class: "user_tab profile_link"
    %li
      = link_to t('header_navigation.tags'), student_views_profile_path(student.id, active_tab: t('students.active_tab.tags')), remote: true, class: "user_tab profile_link"
    %li
      = link_to t('common.links.badges'), student_views_profile_path(student.id, active_tab: t('students.active_tab.badges')), remote: true, class: "user_tab profile_link"