.col-md-12.sort-questions
  %ul
    %li
      = link_to t('common.links.edit_your_info'), edit_student_registration_path
    %li
      = link_to t('common.links.basic_info'), student_views_profile_path(student.id, active_tab:'basicinfo'), class: "#{profile_active_tab('basicinfo')}"
    %li
      = link_to t('common.links.question'), student_views_profile_path(student.id, active_tab:'questions'), class: "#{profile_active_tab('questions')}"
    %li
      = link_to t('common.links.answers'), student_views_profile_path(student.id, active_tab:'answers'), class: "#{profile_active_tab('answers')}"
    %li
      = link_to t('common.links.bookmarks'), student_views_profile_path(student.id, active_tab:'bookmarks'), class: "#{profile_active_tab('bookmarks')}"
    %li
      = link_to t('header_navigation.tags'), student_views_profile_path(student.id, active_tab:'tags'), class: "#{profile_active_tab('tags')}"
    %li
      = link_to t('common.links.badges'), student_views_profile_path(student.id, active_tab:'badges'), class: "#{profile_active_tab('badges')}"
    %li
      = link_to t('common.links.votes'), student_views_profile_path(student.id, active_tab:'votes'), class: "#{profile_active_tab('votes')}"