.modal-submit-questions
  .modal-dialog
    .modal-body
      = form_for(resource, :as => resource_name, :url => student_registration_path) do |f|
        %br
        = f.label t('common.captions.user_name')
        =f.text_field :username,class: 'form-control'
        %br
        = f.label t('common.captions.dob')
        = f.date_field :birthdate,class: 'form-control date-picker', id: 'datepicker1'
        %br
        = f.label t('common.captions.email')
        = f.email_field :email, :autofocus => true,class: 'form-control'
        %br/
        = f.label t('common.captions.new_password')
        = f.password_field :password,class: 'form-control'
        %br/
        = f.label t('common.captions.password_confirmation')
        = f.password_field :password_confirmation,class: 'form-control'

        %br
        = f.label t('common.captions.set_avatar')
        %br
        = image_tag @student.avatar.url(:medium), alt: t('common.image.alt')
        .spacer10
        = f.file_field :avatar
        .spacer20
        %div= f.submit "Submit",class: 'btn-submit-question', id: 'btn_submit_question'