.modal-submit-questions
  .modal-dialog
    .modal-body
      = form_for(resource, :as => resource_name, :url => student_registration_path) do |f|
        = render 'shared/error_messages', object: f.object
        %div
        = f.label t('common.captions.user_name')
        = f.text_field :username, class: 'submit-input'
        %br
        = f.label t('common.captions.dob')
        = f.text_field :birthdate,'data-behaviour' => 'datepicker', class: 'date-picker icon-calendar form-control', id: 'datepicker1'
        %br
        = f.label t('common.captions.email')
        = f.email_field :email, autofocus: true, class: 'submit-input'
        %br
        = f.label t('students.captions.class')
        = f.select :standard_id, options_from_collection_for_select(@standards, 'id', 'class_no'), {prompt: t('teachers.basic.prompt')},class: 'form-control',data: { remote: true, url: divisions_of_standard_path}
        %br
        = f.label t('students.captions.division')
        = f.select :division_id, options_from_collection_for_select(@divisions, 'id', 'division'),{prompt: ''}, {class: 'form-control', id: 'divisions'}
        %div
        = f.label t('common.captions.password')
        %br/
        = f.password_field :password, class: 'submit-input'
        %div
        = f.label t('common.captions.password_confirmation')
        %br/
        = f.password_field :password_confirmation, class: 'submit-input'
        %br
        = f.label t('common.captions.set_avatar')
        = f.file_field :avatar
        .spacer20
        = f.submit t('common.btn.submit'),class: 'btn btn-primary btn-sm', id: 'btn_submit_question'