%div
  = button_to  'New Question  ', new_question_path,method: :get, class:" btn btn-primary pull-right" 
%div
  %h1
    Latest Questions
    -i=1
  - @questions.each do |question|
    %h3
      = i
      = link_to  question.title, question_path(question)
      = link_to 'delete',question_path(question.id),method: :delete,data: {confirm: "are you sure?"}

    By
    = Student.find(question.user_id).first_name
    %br
    #{time_ago_in_words(question.created_at)} ago.
    - i += 1
    Tags: #{raw question.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')}
    %hr
