= render :partial => "layouts/sub_heading", :locals => {:object => 'Profile'}
.row.user-statistic.highlight
  .col-md-5.col-xs-5.user-info
    %span.avatar
      = image_tag "#{set_user_image(@student.avatar.path)}", alt: t('common.image.alt'), class: 'img-circle profile-img' 
    %ul
      %li.name 
        = @student.username
  .col-md-7.col-xs-7.user-post-count
    .row
      .col-md-4.col-xs-4.question-cat
        - if @student.badges.last.blank?
          %span.user-badge
        - else
          %span.user-badge{style: "background-color: #{ @student.badges.last.color}"}
            = @student.badges.last.name
        %br
          %span.points-count
            -if @student.points.nil?
              0 
            -else
              = @student.points
          %span.star
            %i.fa.fa-star
            %br
              points
      %span
        .col-md-4.col-xs-4
          %p.questions-count.dark-font-color
            Questions
            %br
              %span 
                = @student.questions.count
        .col-md-4.col-xs-4
          %p.answers-count.dark-font-color
            Answers
            %br
              %span 
                = @student.answers.count
        .single-head
        .col-md-4.col-xs-4
        .col-md-4.col-xs-4
          %p.questions-count.dark-font-color
            Up Votes
            %br
              - if @total_likes == 0 
                %span 
                  0
              - else 
                %span 
                  = @total_likes
        .col-md-4.col-xs-4
          %p.answers-count
            Down Votes
            %br
              - if @total_dislikes == 0 
                %span 
                  0
              - else 
                %span 
                  = @total_dislikes
/ END USER-STATISTIC
.row.question-filter
  .col-md-12.sort-questions
    %ul
      - if current_user == @student
        %li
          = link_to t('common.links.edit_your_info'), student_views_profile_path(@student.id, active_tab: 'edit-profile'), remote: true, class: "user_tab profile_link"
      %li
        = link_to t('common.links.basic_info'), student_views_profile_path(@student.id, active_tab: t('students.active_tab.basic_info')), remote: true, class: " user_tab profile_link", id: 'basic_info'
      %li
        = link_to t('common.links.question'), student_views_profile_path(@student.id, active_tab: t('students.active_tab.questions')), remote: true, class: "user_tab profile_link"
      %li
        = link_to t('common.links.answers'), student_views_profile_path(@student.id, active_tab: t('students.active_tab.answers')), remote: true, class: "user_tab profile_link"
      %li
        = link_to t('common.links.bookmarks'), student_views_profile_path(@student.id, active_tab: t('students.active_tab.bookmarks')), remote: true, class: "user_tab profile_link"
      %li
        = link_to t('header_navigation.tags'), student_views_profile_path(@student.id, active_tab: t('students.active_tab.tags')), remote: true, class: "user_tab profile_link"
      %li
        = link_to t('common.links.badges'), student_views_profile_path(@student.id, active_tab: t('students.active_tab.badges')), remote: true, class: "user_tab profile_link"
%div.students_profile
  = render partial: 'students_basic_info', locals: { answers: @answers}