= render :partial => "layouts/sub_heading", :locals => {:object => 'Profile'}
.row.user-statistic.highlight
  .col-md-5.col-xs-5.user-info
    %span.avatar
      = image_tag @student.avatar.url(:medium), alt: 'Image' ,class: 'img-circle profile-img'
    %ul
      %li.name 
        = @student.username
      %li.email
        %i.fa.fa-envelope
        = @student.email
  .col-md-7.col-xs-7.user-post-count
    .row
      .col-md-4.col-xs-4.question-cat
        %span.user-badge
          - if @student.badges.last.blank?
            No Badges
          - else 
            = @student.badges.last.name
        %br
          %span.points-count
            -if @student.points.nil?
              0 
            -else
              = @student.points
          %span.star
            %i.fa.fa-star
            %br
              points
      .col-md-4.col-xs-4
        %p.questions-count
          Questions
          %br
            %span 
              = @student.questions.count
      .col-md-4.col-xs-4
        %p.answers-count
          Answers
          %br
            %span 
              = @student.answers.count
/ END USER-STATISTIC
.row.question-filter
  - if ( @student == current_user )
    = render partial: 'current_student_links', locals: { student: @student}
  - else
    .col-md-12.sort-questions
      %ul
        %li
          = link_to "Basic Info", student_views_profile_path(@student.id, active_tab:'basicinfo'), class: "#{profile_active_tab('basicinfo')}"
        %li
          = link_to 'Questions', student_views_profile_path(@student.id, active_tab:'questions'), class: "#{profile_active_tab('questions')}"
        %li
          = link_to 'Answers', student_views_profile_path(@student.id, active_tab:'answers'), class: "#{profile_active_tab('answers')}"
        %li
          = link_to 'Bookmarks', student_views_profile_path(@student.id, active_tab:'bookmarks'), class: "#{profile_active_tab('bookmarks')}"
        %li
          = link_to 'Tags', student_views_profile_path(@student.id, active_tab:'tags'), class: "#{profile_active_tab('tags')}"
        %li
          = link_to 'Badges', student_views_profile_path(@student.id, active_tab:'badges'), class: "#{profile_active_tab('badges')}"
        %li
          = link_to 'Votes', student_views_profile_path(@student.id, active_tab:'votes'), class: "#{profile_active_tab('votes')}"
  / END QUESTIONS-FILTER
- if params[:active_tab] == "answers"
  .main-questions-list
    %ul#main_questions_list
      -if !(@answers.blank?)
        - @answers.each do |answer|
          %li.question-item
            .col-md-8.q-left-content
              .q-ltop-content.title-answer-style
                %a.question-title
                  = link_to  answer.question.title, question_path(answer.question),class: 'question-title', 'data-no-turbolink' => true
              .q-lbtm-content
                .question-cat
                  %span.avatar
                    = image_tag answer.answerable.avatar.url(:medium), alt: 'Image' ,class: 'img-circle user-thumb-img'
                  %span.user-badge
                    - if answer.answerable.badges.last.blank?
                      No Badges
                    -else
                      = answer.answerable.badges.last.name
                  %span.question-time
                    = "Asked #{time_ago_in_words(answer.question.created_at)} ago."
                  %ul.question-tags
                    - answer.question.tags.each do |tag|
                      %li
                        = link_to tag, questions_path(tag: tag.name),class: 'q-tag'
              .quote-answer-style
                %div
                  %span.icon-quote
                  = raw(answer.content)
                %p.alert-stt-answer-style
                  %i.fa.fa-check-circle
                  = "Replied #{time_ago_in_words(answer.created_at)} ago."
            
            / end left content
            .col-md-4.q-right-content
              %ul.question-statistic
                %li
                  %span.question-views
                    = "#{answer.question.impressionist_count}"
                  views
                %li.active
                  %span.question-answers
                    = "#{answer.question.answers.count}"
                  answers
                %li
                  %span.question-upvotes
                    = answer.question.get_upvotes.size
                  Upvotes
                %li
                  %span.question-downvotes
                    = answer.question.get_downvotes.size
                  Downvotes  
      - else
        .spacer50
        .col-md-2
        .col-md-6.col-xs-12
          %h4
            = @student.username
            don't  have answered any question yet
-elsif params[:active_tab] == "bookmarks"
  - question_list = bookmark_question_ids @student
  - if !(question_list.blank?)
    = render :partial => 'questions/questions_list', :locals => { questions: question_list}
  - else
    .spacer50
    .col-md-2
    .col-md-6.col-xs-12
      %h4
        = @student.username 
        don't have Bookmarked any Question
- elsif params[:active_tab] == "tags"
  .main-questions-list
    %ul#main_questions_list
      -if !(@tags.blank?)
        .main-tag-list
          .wrap-tag-list   
            %ul.raw.tag-list
              - @tags.each do |tag|
                %li.col-md-4.col-xs-6.tag-list
                  = link_to tag, questions_path(tag: tag.name),class: 'q-tag'
                  = "x #{tag.taggings_count}"
                  - if (administrator_signed_in?)
                    = link_to '',delete_tag_path(tag.id), method: :delete, data: {confirm: 'Are you sure?'}, class: 'fa fa-trash-o pull-right'
                    = link_to ' |',edit_tag_path(tag.id),'data-no-turbolink' => true, class: 'fa fa-pencil pull-right'
                  %div
                    = truncate(tag.description,length: 120,escape: false) {link_to "Read more",questions_path(tag: tag.name,id: 'show_tag') }
            .row.paginations.home
              .col-md-12
                =paginate @tags            
      - else
        .spacer50
        .col-md-2
        .col-md-6.col-xs-12
          %h4
            = @student.username
            You haven't tagged any thing yet!!!
- elsif params[:active_tab] == "badges"
  .main-questions-list
    %ul#main_questions_list
      - if !(@student.badges.last.blank?)
        - @student.badges.pluck(:name).each do |badge|
          .row.select-category.single-head
            .col-md-6  
              .question-cat
                %span.user-badge  
                  = badge
      -else
        .spacer50
        .col-md-2
        .col-md-6.col-xs-12
          %h4
            = @student.username
            haven't earned any Badges!!!
- elsif params[:active_tab] == "votes"
  .main-questions-list
    %ul#main_questions_list
      - if !(@questions.blank?)
        .row.select-category.single-head
          .col-md-12.col-xs-12
            .table-responsive
              %table.table.table-bordered.table-striped
                %thead
                  %tr.success
                    %th.text-center
                    %th.text-center 
                      UpVotes Count
                    %th.text-center 
                      DownVotes Count
                    %th.text-center 
                      Total Count 
                %tbody
                  %tr
                    %td.text-center
                      Questions
                    %td.text-center
                      = @total_upvotes_question
                    %td.text-center
                      = @total_downvotes_question
                    %td.text-center
                      = @questions.count
                  %tr
                    %td.text-center
                      Answers
                    %td.text-center
                      = @total_upvotes_answer
                    %td.text-center
                      = @total_downvotes_answer
                    %td.text-center
                      = @answers.count
      -else
        .spacer50
        .col-md-2
        .col-md-6.col-xs-12
          %h4
            = @student.username
            haven't got any votes!!!
- elsif params[:active_tab] == "questions"
  .main-questions-list    
    %ul#main_questions_list
      - if !(@questions.blank?)
        - @questions.each do |question|
          %li.post-188.question.type-question.status-publish.hentry.question-item{"data-id" => "188"}
            .col-md-8.col-xs-8.q-left-content
              .q-ltop-content
                %a.question-title
                  = link_to  question.title, question_path(question),class: 'question-title', 'data-no-turbolink' => true
              .q-lbtm-content
                .question-excerpt
                  %p 
                    = raw(question.content)
                .question-cat
                  %ul.question-tags
                    - question.tags.each do |tag|
                      %li
                        = link_to tag, questions_path(tag: tag.name),class: 'q-tag'   
                  .clearfix
                  %a{:href => '#'}
                    %span.avatar
                      = image_tag question.askable.avatar.url(:medium), alt: 'Image' ,class: 'img-circle user-thumb-img'
                    %span.author-name 
                      = question.askable.username
                  %span.user-badge
                    - if question.askable.badges.last.blank?
                      No Badges
                    - else 
                      = question.askable.badges.last.name  
                  %span.question-time
                    = "#{time_ago_in_words(question.created_at)} ago."
            / end left content
            .col-md-4.col-xs-4.q-right-content
              %ul.question-statistic
                %li
                  %span.question-views
                    = "#{question.impressionist_count}"
                  views
                %li.active
                  %span.question-answers
                    = "#{question.answers.count}" 
                  answers
                %li
                  %span.question-upvotes
                    = question.get_upvotes.size
                  upvotes
                %li
                  %span.question-downvotes
                    = question.get_downvotes.size                      
                  downvotes
            / end right content
      - else
        .spacer50
        .col-md-2
        .col-md-6.col-xs-12
          %h4
            = @student.username 
            don't have asked any questions yet
- else
  .row.select-category.single-head
    .col-md-8.col-xs-8
      .table-responsive
        %table.table.table-bordered.table-striped 
          %tbody
            %tr.success
              %th.text-center
                Name 
              %th.text-center 
                =@student.username  
            %tr
              %td.text-center
                Birthdate
              %td.text-center
                =@student.birthdate
            %tr.success
              %td.text-center
                Username
              %td.text-center
                =@student.username
            %tr
              %td.text-center
                Email
              %td.text-center
                =@student.email 
